.row
  %table.table.table-striped.table-bordered#teams
    %thead
      %tr
        %th Name
        %th Members 
        %th Repos
    %tbody     
      - @teams.each do |team|
        %tr
          %td= team.name
          %td= team.member_names
          %td= team.repo_names

