%div{id: "container", style: "width:100%; height:400px;"}

:javascript
  $(function () {
    $('#datepicker1').datepicker({format: 'dd/mm/yyyy', defaultDate: #{@start_date}});
    $('#datepicker2').datepicker({format: 'dd/mm/yyyy', defaultDate: #{@end_date}});
  });

  data = #{@data}
  title = #{@title.to_json}
  $(function () { 
    $('#container').highcharts({
      chart: {
      type: 'column'
     },
      title: {
      text: "Last 30 Day's " + title
     },
      xAxis: {
      type: 'category'
     },
      yAxis: {
       title: {
        text: 'Commits Count'
       }
     },
     legend: {
       enabled: false
     },
     plotOptions: {
       series: {
         borderWidth: 0,
         dataLabels: {
           enabled: true                  
        }
      }
    },
      series: [{ name: "Commits",
      colorByPoint: true,
      data: data
      }]
    });
  });

