%h1.page-header
  %font Repositories 
    = link_to "Get new repositories", get_new_repos_path, class: "btn btn-primary pull-right" 

%table#stream_table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Description
      %th Watchers
  %tbody     

%script#template{type: "text/html"}
  %tr
    %td {{record.name}}
    %td {{record.description}}
    %td {{record.watchers}}

:javascript
  load_repos(#{@repos.to_json})
