GIT_APP_ID= your app id 
GIT_APP_SECRET= your app id secret
GIT_OAUTH_TOKEN=git auth token
ENC_KEY=encryption key
REDIS=redis://localhost:6379/0/cache
SENDGRID_USERNAME="username"
SENDGRID_PASSWORD="password"
