- if @repo.nil?
  flashNotification("#{t('repositories.not_found')}", 'error');
- elsif @repo.valid?
  $("#repo-#{@repo.gh_id} td:last").html('Contributing')
- else 
  - @repo.errors.full_messages.each do |m|
    flashNotification("#{m}", 'error', false);

  
