---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/tanya-saroha/tanya-josh/commits?access_token=004c1756c196d9263627787d40ff53a2fdb3a551&sha=master&since=2018-07-18%2000:00:00%20UTC&until=2018-07-18%2023:59:59%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 004c1756c196d9263627787d40ff53a2fdb3a551
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1532011536'
      Etag:
      - W/"9c6c6d8027e10515027ebfc394a50540"
      Last-Modified:
      - Wed, 18 Jul 2018 12:57:30 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"4efcff773c34fdfe710d453d6c67243ba9944fd2","node_id":"MDY6Q29tbWl0MTQxNDAyMjU0OjRlZmNmZjc3M2MzNGZkZmU3MTBkNDUzZDZjNjcyNDNiYTk5NDRmZDI=","commit":{"author":{"name":"tanya-saroha","email":"tanya@joshsoftware.com","date":"2018-07-18T12:57:30Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2018-07-18T12:57:30Z"},"message":"Merge
        pull request #1 from tanya-saroha/test_branch\n\ncommit 3","tree":{"sha":"bd968a92de4e40fc8a4604fd047be166f18f3c5f","url":"https://api.github.com/repos/tanya-saroha/tanya-josh/git/trees/bd968a92de4e40fc8a4604fd047be166f18f3c5f"},"url":"https://api.github.com/repos/tanya-saroha/tanya-josh/git/commits/4efcff773c34fdfe710d453d6c67243ba9944fd2","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJbTzk6CRBK7hj4Ov3rIwAAdHIIACIgA2Pxbveymhjbqgr1eBSm\npOo4V39FTG74BCPJc2nrGy5S4xtZUKNx5CHH3c4ZbDK7a0hh1gs/z5hDoCqQElzI\nL3U1IQ+cYqc1CJDD5mn2iVOsXYminq9plOuI34B+t75gLMXUBq/U6S5xMblTVXCB\nBIR2VBkAwJs7m2112DeNa5PXbCIcdwaY3XCjf6VHaU5Hed2B7Rrl8/AGCP4+7+Ll\nE92OQhAnIYQa6Ihk4q52qLR/xsBd8ODgSSvkFA3WxcKphG4cBigO54V9aZpIJKtr\nZ56umTGEvBAWGPsF2R1PBXQuVXPKLuKP/rWT/2Iz+/WmvdZYRgk2QHCe9iPzexU=\n=1aMU\n-----END
        PGP SIGNATURE-----\n","payload":"tree bd968a92de4e40fc8a4604fd047be166f18f3c5f\nparent
        04d94e6c7ce0c63b3e7b89054bc5936dc4cf152b\nparent 0b5fe0e0ff66bc5f473d66ba684acce51b79faf7\nauthor
        tanya-saroha <tanya@joshsoftware.com> 1531918650 +0530\ncommitter GitHub <noreply@github.com>
        1531918650 +0530\n\nMerge pull request #1 from tanya-saroha/test_branch\n\ncommit
        3"}},"url":"https://api.github.com/repos/tanya-saroha/tanya-josh/commits/4efcff773c34fdfe710d453d6c67243ba9944fd2","html_url":"https://github.com/tanya-saroha/tanya-josh/commit/4efcff773c34fdfe710d453d6c67243ba9944fd2","comments_url":"https://api.github.com/repos/tanya-saroha/tanya-josh/commits/4efcff773c34fdfe710d453d6c67243ba9944fd2/comments","author":{"login":"tanya-saroha","id":40762474,"node_id":"MDQ6VXNlcjQwNzYyNDc0","avatar_url":"https://avatars2.githubusercontent.com/u/40762474?v=4","gravatar_id":"","url":"https://api.github.com/users/tanya-saroha","html_url":"https://github.com/tanya-saroha","followers_url":"https://api.github.com/users/tanya-saroha/followers","following_url":"https://api.github.com/users/tanya-saroha/following{/other_user}","gists_url":"https://api.github.com/users/tanya-saroha/gists{/gist_id}","starred_url":"https://api.github.com/users/tanya-saroha/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tanya-saroha/subscriptions","organizations_url":"https://api.github.com/users/tanya-saroha/orgs","repos_url":"https://api.github.com/users/tanya-saroha/repos","events_url":"https://api.github.com/users/tanya-saroha/events{/privacy}","received_events_url":"https://api.github.com/users/tanya-saroha/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"04d94e6c7ce0c63b3e7b89054bc5936dc4cf152b","url":"https://api.github.com/repos/tanya-saroha/tanya-josh/commits/04d94e6c7ce0c63b3e7b89054bc5936dc4cf152b","html_url":"https://github.com/tanya-saroha/tanya-josh/commit/04d94e6c7ce0c63b3e7b89054bc5936dc4cf152b"},{"sha":"0b5fe0e0ff66bc5f473d66ba684acce51b79faf7","url":"https://api.github.com/repos/tanya-saroha/tanya-josh/commits/0b5fe0e0ff66bc5f473d66ba684acce51b79faf7","html_url":"https://github.com/tanya-saroha/tanya-josh/commit/0b5fe0e0ff66[...]
- request:
    method: get
    uri: https://api.github.com/repos/tanya-saroha/tanya-josh/commits/0b5fe0e0ff66bc5f473d66ba684acce51b79faf7?access_token=004c1756c196d9263627787d40ff53a2fdb3a551
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 004c1756c196d9263627787d40ff53a2fdb3a551
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?access_token=004c1756c196d9263627787d40ff53a2fdb3a551&q=sha:0b5fe0e0ff66bc5f473d66ba684acce51b79faf7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 004c1756c196d9263627787d40ff53a2fdb3a551
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1532008005'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/tanya-saroha/tanya-josh/issues/1","repository_url":"https://api.github.com/repos/tanya-saroha/tanya-josh","labels_url":"https://api.github.com/repos/tanya-saroha/tanya-josh/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/tanya-saroha/tanya-josh/issues/1/comments","events_url":"https://api.github.com/repos/tanya-saroha/tanya-josh/issues/1/events","html_url":"https://github.com/tanya-saroha/tanya-josh/pull/1","id":342316680,"node_id":"MDExOlB1bGxSZXF1ZXN0MjAyMjQzOTMw","number":1,"title":"commit
        3","user":{"login":"tanya-saroha","id":40762474,"node_id":"MDQ6VXNlcjQwNzYyNDc0","avatar_url":"https://avatars2.githubusercontent.com/u/40762474?v=4","gravatar_id":"","url":"https://api.github.com/users/tanya-saroha","html_url":"https://github.com/tanya-saroha","followers_url":"https://api.github.com/users/tanya-saroha/followers","following_url":"https://api.github.com/users/tanya-saroha/following{/other_user}","gists_url":"https://api.github.com/users/tanya-saroha/gists{/gist_id}","starred_url":"https://api.github.com/users/tanya-saroha/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tanya-saroha/subscriptions","organizations_url":"https://api.github.com/users/tanya-saroha/orgs","repos_url":"https://api.github.com/users/tanya-saroha/repos","events_url":"https://api.github.com/users/tanya-saroha/events{/privacy}","received_events_url":"https://api.github.com/users/tanya-saroha/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":3,"created_at":"2018-07-18T12:57:02Z","updated_at":"2018-07-18T12:57:30Z","closed_at":"2018-07-18T12:57:30Z","author_association":"OWNER","pull_request":{"url":"https://api.github.com/repos/tanya-saroha/tanya-josh/pulls/1","html_url":"https://github.com/tanya-saroha/tanya-josh/pull/1","diff_url":"https://github.com/tanya-saroha/tanya-josh/pull/1.diff","patch_url":"https://github.com/tanya-saroha/tanya-josh/pull/1.patch"},"body":"Please
        merge the new branch","score":100.0}]}'
  recorded_at: Thu, 19 Jul 2018 13:45:45 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?access_token=004c1756c196d9263627787d40ff53a2fdb3a551&q=sha:0fd7a4976ef8ea8506fa33f550cd3668b2d41d8f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 004c1756c196d9263627787d40ff53a2fdb3a551
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1532008005'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Thu, 19 Jul 2018 13:45:53 GMT
recorded_with: VCR 4.0.0
