---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/tanya-saroha/tanya-josh/commits?access_token=your_access_token&sha=master&since=2018-07-23%2000:00:00%20UTC&until=2018-07-23%2023:59:59%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token your_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1532432482'
      Etag:
      - W/"68000576baf1b4104b96fa68a7101f59"
      Last-Modified:
      - Mon, 23 Jul 2018 05:15:53 GMT
      X-Oauth-Scopes:
      - read:org, user:email, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - f361454cd4cf493ec6ab
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"9979610f8d56f55c157388db1fba71550697d96b","node_id":"MDY6Q29tbWl0MTQxNDAyMjU0Ojk5Nzk2MTBmOGQ1NmY1NWMxNTczODhkYjFmYmE3MTU1MDY5N2Q5NmI=","commit":{"author":{"name":"tanya-saroha","email":"tanya@joshsoftware.com","date":"2018-07-23T05:15:53Z"},"committer":{"name":"tanya-saroha","email":"tanya@joshsoftware.com","date":"2018-07-23T05:15:53Z"},"message":"Commit
        9","tree":{"sha":"e8235870fdc8ccf9c6de5c8b4002b8127bf26e61","url":"https://api.github.com/repos/tanya-saroha/tanya-josh/git/trees/e8235870fdc8ccf9c6de5c8b4002b8127bf26e61"},"url":"https://api.github.com/repos/tanya-saroha/tanya-josh/git/commits/9979610f8d56f55c157388db1fba71550697d96b","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/tanya-saroha/tanya-josh/commits/9979610f8d56f55c157388db1fba71550697d96b","html_url":"https://github.com/tanya-saroha/tanya-josh/commit/9979610f8d56f55c157388db1fba71550697d96b","comments_url":"https://api.github.com/repos/tanya-saroha/tanya-josh/commits/9979610f8d56f55c157388db1fba71550697d96b/comments","author":{"login":"tanya-saroha","id":40762474,"node_id":"MDQ6VXNlcjQwNzYyNDc0","avatar_url":"https://avatars2.githubusercontent.com/u/40762474?v=4","gravatar_id":"","url":"https://api.github.com/users/tanya-saroha","html_url":"https://github.com/tanya-saroha","followers_url":"https://api.github.com/users/tanya-saroha/followers","following_url":"https://api.github.com/users/tanya-saroha/following{/other_user}","gists_url":"https://api.github.com/users/tanya-saroha/gists{/gist_id}","starred_url":"https://api.github.com/users/tanya-saroha/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tanya-saroha/subscriptions","organizations_url":"https://api.github.com/users/tanya-saroha/orgs","repos_url":"https://api.github.com/users/tanya-saroha/repos","events_url":"https://api.github.com/users/tanya-saroha/events{/privacy}","received_events_url":"https://api.github.com/users/tanya-saroha/received_events","type":"User","site_admin":false},"committer":{"login":"tanya-saroha","id":40762474,"node_id":"MDQ6VXNlcjQwNzYyNDc0","avatar_url":"https://avatars2.githubusercontent.com/u/40762474?v=4","gravatar_id":"","url":"https://api.github.com/users/tanya-saroha","html_url":"https://github.com/tanya-saroha","followers_url":"https://api.github.com/users/tanya-saroha/followers","following_url":"https://api.github.com/users/tanya-saroha/following{/other_user}","gists_url":"https://api.github.com/users/tanya-saroha/gists{/gist_id}","starred_url":"https://api.github.com/users/tanya-saroha/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tanya-saroha/subscriptions","organizations_url":"https://api.github.com/users/tanya-saroha/orgs","repos_url":"https://api.github.com/users/tanya-saroha/repos","events_url":"https://api.github.com/users/tanya-saroha/events{/privacy}","received_events_url":"https://api.github.com/users/tanya-saroha/received_events","type":"User","site_admin":false},"parents":[{"sha":"da33918b61c58f69ccb6f9340eda24cf2d1707d6","url":"https://api.github.com/repos/tanya-saroha/tanya-josh/commits/da33918b61c58f69ccb6f9340eda24cf2d1707d6","html_url":"https://github.com/tanya-saroha/tanya-josh/commit/da33918b61c58f69ccb6f9340eda24cf2d1707d6"}]},{"sha":"da33918b61c58f69ccb6f9340eda24cf2d1707d6","node_id":"MDY6Q29tbWl0MTQxNDAyMjU0OmRhMzM5MThiNjFjNThmNjljY2I2ZjkzNDBlZGEyNGNmMmQxNzA3ZDY=","commit":{"author":{"name":"tanya-saroha","email":"tanya@joshsoftware.com","date":"2018-0[...]
- request:
    method: get
    uri: https://api.github.com/repos/tanya-saroha/tanya-josh/commits/9979610f8d56f55c157388db1fba71550697d96b?access_token=your_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token your_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratel[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?access_token=your_access_token&q=sha:9979610f8d56f55c157388db1fba71550697d96b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token your_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1532429499'
      X-Oauth-Scopes:
      - read:org, user:email, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - f361454cd4cf493ec6ab
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Tue, 24 Jul 2018 10:50:39 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/tanya-saroha/tanya-josh/commits?access_token=your_access_token&sha=master&since=2018-07-23%2000:00:00%20UTC&until=2018-07-23%2023:59:59%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token your_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1532431666'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 24 Jul 2018 10:58:47 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/tanya-saroha/tanya-josh/commits?access_token=your_access_token&sha=master&since=2018-07-23%2000:00:00%20UTC&until=2018-07-23%2023:59:59%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token your_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '1532431666'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 24 Jul 2018 10:59:50 GMT
recorded_with: VCR 4.0.0
