---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/aq1018/mongoid-history?redirection=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1532431666'
      Location:
      - https://api.github.com/repositories/1429138?redirection=true
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/1429138?redirection=true","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 24 Jul 2018 11:02:07 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/1429138?redirection=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Reset:
      - '1532431666'
      Etag:
      - W/"b5e718f442027e0848ceccb5cca36bc2"
      Last-Modified:
      - Thu, 19 Jul 2018 15:58:34 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":1429138,"node_id":"MDEwOlJlcG9zaXRvcnkxNDI5MTM4","name":"mongoid-history","full_name":"mongoid/mongoid-history","owner":{"login":"mongoid","id":262752,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI2Mjc1Mg==","avatar_url":"https://avatars0.githubusercontent.com/u/262752?v=4","gravatar_id":"","url":"https://api.github.com/users/mongoid","html_url":"https://github.com/mongoid","followers_url":"https://api.github.com/users/mongoid/followers","following_url":"https://api.github.com/users/mongoid/following{/other_user}","gists_url":"https://api.github.com/users/mongoid/gists{/gist_id}","starred_url":"https://api.github.com/users/mongoid/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mongoid/subscriptions","organizations_url":"https://api.github.com/users/mongoid/orgs","repos_url":"https://api.github.com/users/mongoid/repos","events_url":"https://api.github.com/users/mongoid/events{/privacy}","received_events_url":"https://api.github.com/users/mongoid/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/mongoid/mongoid-history","description":"Multi-user
        non-linear history tracking, auditing, undo, redo for mongoid.","fork":false,"url":"https://api.github.com/repos/mongoid/mongoid-history","forks_url":"https://api.github.com/repos/mongoid/mongoid-history/forks","keys_url":"https://api.github.com/repos/mongoid/mongoid-history/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mongoid/mongoid-history/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mongoid/mongoid-history/teams","hooks_url":"https://api.github.com/repos/mongoid/mongoid-history/hooks","issue_events_url":"https://api.github.com/repos/mongoid/mongoid-history/issues/events{/number}","events_url":"https://api.github.com/repos/mongoid/mongoid-history/events","assignees_url":"https://api.github.com/repos/mongoid/mongoid-history/assignees{/user}","branches_url":"https://api.github.com/repos/mongoid/mongoid-history/branches{/branch}","tags_url":"https://api.github.com/repos/mongoid/mongoid-history/tags","blobs_url":"https://api.github.com/repos/mongoid/mongoid-history/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mongoid/mongoid-history/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mongoid/mongoid-history/git/refs{/sha}","trees_url":"https://api.github.com/repos/mongoid/mongoid-history/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mongoid/mongoid-history/statuses/{sha}","languages_url":"https://api.github.com/repos/mongoid/mongoid-history/languages","stargazers_url":"https://api.github.com/repos/mongoid/mongoid-history/stargazers","contributors_url":"https://api.github.com/repos/mongoid/mongoid-history/contributors","subscribers_url":"https://api.github.com/repos/mongoid/mongoid-history/subscribers","subscription_url":"https://api.github.com/repos/mongoid/mongoid-history/subscription","commits_url":"https://api.github.com/repos/mongoid/mongoid-history/commits{/sha}","git_commits_url":"https://api.github.com/repos/mongoid/mongoid-history/git/commits{/sha}","comments_url":"https://api.github.com/repos/mongoid/mongoid-history/comments{/number}","issue_comment_url":"https://api.github.com/repos/mongoid/mongoid-history/issues/comments{/number}","contents_url":"https://api.github.com/repos/mongoid/mongoid-history/contents/{+path}","compare_url":"https://api.github.com/repos/mongoid/mongoid-history/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mongoid/mongoid-history/merges","archive_url":"https://api.github.com/repos/mongoid/mongoid-history/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mongoid/mongoid-history/downloads","issues_url":"https://api.github.com/repos/mongoid/mongoid-history/issues{/number}","pulls_url":"https://api.github.com/repos/mongoid/mongoid-history/pulls{/number}","milestones_url":"https://api.github.com/repos/mongoid/mongoid-history/milestones{/number}","notifications_url":"https://api.github.com/repos/mongoid/mongoid-history/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mongoid/mongoid-history/labels{/name}","releases_url":"https://api.github.com/repos/mongoid/mongoid-history/releases{/id}","deployments_url":"https://api.github.com/repos/mongoid/mongoid-history/deployments","created_at":"2011-03-02T03:35:17Z","updated_at":"2018-07-19T15:58:34Z","pushed_at":"2018-06-28T14:10:44Z","git_url":"git://github.com/mongoid/mongoid-history.git","ssh_url":"git@github.com:mongoid/mongoid-history.git","clone_url":"https://github.com/mongoid/mongoid-history.git","svn_url":"https://github.com/mongoid/mongoid-history","homepage":"https://rubygems.org/gems/mongoid-history","size":529,"stargazers_count":346,"watchers_count":346,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":124,"mirror_url":null,"archived":false,"open_issues_count":40,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":124,"open_issues":40,"watchers":346,"default_branch":"master","organization":{"login":"mongoid","id":262752,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI2Mjc1Mg==","avatar_url":"https://avatars0.githubusercontent.com/u/262752?v=4","gravatar_id":"","url":"https://api.github.com/users/mongoid","html_url":"https://github.com/mongoid","followers_url":"https://api.github.com/users/mongoid/followers","following_url":"https://api.github.com/users/mongoid/following{/other_user}","gists_url":"https://api.github.com/users/mongoid/gists{/gist_id}","starred_url":"https://api.github.com/users/mongoid/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mongoid/subscriptions","organizations_url":"https://api.github.com/users/mongoid/orgs","repos_url":"https://api.github.com/users/mongoid/repos","events_url":"https://api.github.com/users/mongoid/events{/privacy}","received_events_url":"https://api.github.com/users/mongoid/received_events","type":"Organization","site_admin":false},"network_count":124,"subscribers_count":14}'
  recorded_at: Tue, 24 Jul 2018 11:02:09 GMT
recorded_with: VCR 4.0.0
