---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/joshsoftware/code-curiosity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1532451937'
      Etag:
      - W/"11b338622f39beb9f3ddcba27b8613e5"
      Last-Modified:
      - Tue, 24 Jul 2018 11:48:01 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":42095647,"node_id":"MDEwOlJlcG9zaXRvcnk0MjA5NTY0Nw==","name":"code-curiosity","full_name":"joshsoftware/code-curiosity","owner":{"login":"joshsoftware","id":130756,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEzMDc1Ng==","avatar_url":"https://avatars1.githubusercontent.com/u/130756?v=4","gravatar_id":"","url":"https://api.github.com/users/joshsoftware","html_url":"https://github.com/joshsoftware","followers_url":"https://api.github.com/users/joshsoftware/followers","following_url":"https://api.github.com/users/joshsoftware/following{/other_user}","gists_url":"https://api.github.com/users/joshsoftware/gists{/gist_id}","starred_url":"https://api.github.com/users/joshsoftware/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joshsoftware/subscriptions","organizations_url":"https://api.github.com/users/joshsoftware/orgs","repos_url":"https://api.github.com/users/joshsoftware/repos","events_url":"https://api.github.com/users/joshsoftware/events{/privacy}","received_events_url":"https://api.github.com/users/joshsoftware/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/joshsoftware/code-curiosity","description":"Open-source
        is now fun and rewarding! ","fork":false,"url":"https://api.github.com/repos/joshsoftware/code-curiosity","forks_url":"https://api.github.com/repos/joshsoftware/code-curiosity/forks","keys_url":"https://api.github.com/repos/joshsoftware/code-curiosity/keys{/key_id}","collaborators_url":"https://api.github.com/repos/joshsoftware/code-curiosity/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/joshsoftware/code-curiosity/teams","hooks_url":"https://api.github.com/repos/joshsoftware/code-curiosity/hooks","issue_events_url":"https://api.github.com/repos/joshsoftware/code-curiosity/issues/events{/number}","events_url":"https://api.github.com/repos/joshsoftware/code-curiosity/events","assignees_url":"https://api.github.com/repos/joshsoftware/code-curiosity/assignees{/user}","branches_url":"https://api.github.com/repos/joshsoftware/code-curiosity/branches{/branch}","tags_url":"https://api.github.com/repos/joshsoftware/code-curiosity/tags","blobs_url":"https://api.github.com/repos/joshsoftware/code-curiosity/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/joshsoftware/code-curiosity/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/joshsoftware/code-curiosity/git/refs{/sha}","trees_url":"https://api.github.com/repos/joshsoftware/code-curiosity/git/trees{/sha}","statuses_url":"https://api.github.com/repos/joshsoftware/code-curiosity/statuses/{sha}","languages_url":"https://api.github.com/repos/joshsoftware/code-curiosity/languages","stargazers_url":"https://api.github.com/repos/joshsoftware/code-curiosity/stargazers","contributors_url":"https://api.github.com/repos/joshsoftware/code-curiosity/contributors","subscribers_url":"https://api.github.com/repos/joshsoftware/code-curiosity/subscribers","subscription_url":"https://api.github.com/repos/joshsoftware/code-curiosity/subscription","commits_url":"https://api.github.com/repos/joshsoftware/code-curiosity/commits{/sha}","git_commits_url":"https://api.github.com/repos/joshsoftware/code-curiosity/git/commits{/sha}","comments_url":"https://api.github.com/repos/joshsoftware/code-curiosity/comments{/number}","issue_comment_url":"https://api.github.com/repos/joshsoftware/code-curiosity/issues/comments{/number}","contents_url":"https://api.github.com/repos/joshsoftware/code-curiosity/contents/{+path}","compare_url":"https://api.github.com/repos/joshsoftware/code-curiosity/compare/{base}...{head}","merges_url":"https://api.github.com/repos/joshsoftware/code-curiosity/merges","archive_url":"https://api.github.com/repos/joshsoftware/code-curiosity/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/joshsoftware/code-curiosity/downloads","issues_url":"https://api.github.com/repos/joshsoftware/code-curiosity/issues{/number}","pulls_url":"https://api.github.com/repos/joshsoftware/code-curiosity/pulls{/number}","milestones_url":"https://api.github.com/repos/joshsoftware/code-curiosity/milestones{/number}","notifications_url":"https://api.github.com/repos/joshsoftware/code-curiosity/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/joshsoftware/code-curiosity/labels{/name}","releases_url":"https://api.github.com/repos/joshsoftware/code-curiosity/releases{/id}","deployments_url":"https://api.github.com/repos/joshsoftware/code-curiosity/deployments","created_at":"2015-09-08T07:01:23Z","updated_at":"2018-07-24T11:48:01Z","pushed_at":"2018-07-24T16:04:53Z","git_url":"git://github.com/joshsoftware/code-curiosity.git","ssh_url":"git@github.com:joshsoftware/code-curiosity.git","clone_url":"https://github.com/joshsoftware/code-curiosity.git","svn_url":"https://github.com/joshsoftware/code-curiosity","homepage":"https://codecuriosity.org","size":2728,"stargazers_count":74,"watchers_count":74,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":50,"mirror_url":null,"archived":false,"open_issues_count":48,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":50,"open_issues":48,"watchers":74,"default_branch":"master","organization":{"login":"joshsoftware","id":130756,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEzMDc1Ng==","avatar_url":"https://avatars1.githubusercontent.com/u/130756?v=4","gravatar_id":"","url":"https://api.github.com/users/joshsoftware","html_url":"https://github.com/joshsoftware","followers_url":"https://api.github.com/users/joshsoftware/followers","following_url":"https://api.github.com/users/joshsoftware/following{/other_user}","gists_url":"https://api.github.com/users/joshsoftware/gists{/gist_id}","starred_url":"https://api.github.com/users/joshsoftware/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joshsoftware/subscriptions","organizations_url":"https://api.github.com/users/joshsoftware/orgs","repos_url":"https://api.github.com/users/joshsoftware/repos","events_url":"https://api.github.com/users/joshsoftware/events{/privacy}","received_events_url":"https://api.github.com/users/joshsoftware/received_events","type":"Organization","site_admin":false},"network_count":50,"subscribers_count":33}'
  recorded_at: Tue, 24 Jul 2018 16:53:41 GMT
[...]
