%table.table.table-hover.table-bordered#repos
  %thead
    %tr
      %th.col-xs-2 Name
      %th.col-xs-5 Description
      %th.col-xs-2 Judges
      %th.col-xs-2 Actions
  %tbody     
    - @repos.each do |repo|
      %tr
        %td.col-xs-2 
          = link_to repo.name,  repo.source_url, target: "_blank"
        %td.col-xs-5= repo.description
        %td.col-xs-2{id: "judges_#{repo._id}"}= repo.judges_name
        %td.col-xs-2 
          %a{href: assign_judge_admin_repository_path(repo), class: "btn btn-primary btn-sm", "data-remote": "true"}
            %i.fa.fa-plus
            Assign Judge

