%section.content-header
  %h1 
    Repositories
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive
          - if @repos.any?
            = render 'repos_table'
            .pagination-container
              = paginate @repos, params: { controller: 'admin/repositories', action: 'index'}, remote: true

.modal.fade#assign_judge_form
