.direct-chat-messages
  = render partial: 'comments/comment', collection: @comments, as: :comment
= simple_form_for (@comment || Comment.new), url: add_judge_comment_path(resource), remote: true do |f|
  .input-group
    %span.input-group-addon
      %label Public
      = f.input_field :is_public, as: :boolean, label: false
    = f.input_field :content, placeholder: 'Type a comment', class: 'form-control input-sm', autocomplete: false
