- content_for :signature do
  = render 'application/mail_signature'
  
%h4= "Hello #{@user.name},"
%p
  Your redemption request has been received. We will process your request and send you a coupon code as soon as possible. 
