= simple_form_for(@redeem || RedeemRequest.new(user: current_user), url: redeem_path, remote: true) do |f|
  = f.input :points, collection: github_points_options, include_blank: false, label: 'Gitft Card Amount'
  = f.input :retailer, as: :hidden, input_html: { value: 'github'}
  %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Cancel
  %button.btn.btn-primary{:type => 'submit'} Redeem

