.modal-dialog#test
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel New Sponsorer
    .modal-body
      %ul.errors
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li{class: active_tab('Individual')}
            %a{href: '#individual', data: { toggle: 'tab'} }
              %i.fa.fa-money
              Individual
          %li{class: active_tab('Organization')}
            %a{href: '#organization', data: { toggle: 'tab'} }
              %i.fa.fa-money
              Company
        .tab-content
          .tab-pane#individual{class: active_tab('Individual')}
            = render 'sponsorer_details/individual'
          .tab-pane#organization{class: active_tab('Organization')}
            = render 'sponsorer_details/organization'
