%table.table.table-bordered
  %thead
    %tr
      %th.col-xs-3 #
      %th.col-xs-3 Date
      %th.col-xs-3 Amount Paid
      %th.col-xs-3 Plan
  %tbody
    = render partial: 'payment', collection: @payments
.pagination-container
  = paginate @payments, remote: true