%section.content-header
  %h1 
    Groups
    = link_to new_group_path, class: 'btn btn-success pull-right'do
      %i.fa.fa-group
      %b New Group 
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive
          %table.table.table-hover.table-bordered
            %thead
              %tr
                %th.col-xs-2 Name
                %th.col-xs-5 Description
                %th.col-xs-2 Owner
                %th.col-xs-3 Actions
            %tbody     
              = render @groups
          .pagination-container
            = paginate @groups
