%section.content-header
  %h1#tac New Redemption Strategy
%section.content
  #terms_and_conditions
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-info
        .panel-body
          %ul.list-group.list-group-unbordered
            %p
              Hello 
              #{current_user.name.titleize},
            %li.list-group-item
              %p
                It has been our endeavour to make CodeCuriosity “Self-motivating”,  “Rewarding” and “Fun”. 
                %br
                %br
                We have learnt a LOT in the last couple of years about what works and what doesn’t. The biggest issue in the last one year has been around redemptions! 
              %ul
                %li A few people get a larger piece of the rewards.
                %li Redemption happens in chunks of 10$ 
                %li Redemption can only be done after the month is over!
                %li Redemptions have been delayed because of reviews, fund shortage and time! 
            %li.list-group-item
              Well, CodeCuriosity now has a
              %b whole new redemption strategy.
              %ul
                %li 
                  %b Instant Gratification.  
                  You don’t have to wait for the month-end. You can redeem immediately after the scoring is done at the end of the day.
                %li 
                  %b No redemption limits. 
                  You can redeem everything you have earned, no limits!
                %li 
                  %b Variable Daily Rewards. 
                  Each day has a budget to commits variance. So you may earn more on some days, so keep committing regularly.
                %li 
                  %b New Scoring Algorithm. 
                  Scores is calculated on the basis of consistency and commit quality(feature/bug/doc)
                %li 
                  %b Earn Badges. 
                  You get badges everytime you score in repo with different languages
            %li.list-group-item
              %b So what has changed for you? 
              %ul
                %li No more Paid Subscriptions. 
                %li If you had sent a redemption request, we shall return all these points to you.  
                %li Your points keep accumulating and it is factored into your earnings. More points imply a larger ratio for earnings.
                %li There is a daily budget for earnings that will cause the variance of earnings. 
              %li.list-group-item
                %b When will this change take place? 
                %p 1st July, 2018
              %li.list-group-item
                %b So what has changed for us? 
                %ul
                  %li We can now get sponsors who can fund us regularly.
                  %li Sponsors can reward the open-source community or commitors to their “promoted repos”.
                  %li We can manage CodeCuriosity within the funds we receive for the month. So, as the sponsors increase, so will the rewards and users won’t have to wait on redemptions to be fulfilled. 
              %li.list-group-item
                %b So, what’s in it for us at Josh Software? 
                %ul 
                  %li NOTHING. We call this our anti-startup. “How to lose money consistently and be proud of it!” :D
                  %li We are sure this will lead towards a brighter future for the community … somehow! 
                %br
                %p Only time will tell !
          .panel-footer
            = link_to terms_and_conditions_path(terms_and_conditions: true), class: "btn btn-primary btn-block" do
              %b Continue
