%h4
  Featured Groups
- @featured_groups.each_with_index do |group, index|
  %div{:class => "#{widget_class()}"}
    %iframe{src: group_widget_url(group), height:"380" ,width: "340" ,frameborder:"0"	}
