.col-xs-12
  .box.box-default
    .box-header
      %h2 Be a Sponsorer
    .box-body
      - INFO['benefits'].keys.each do |key|
        .col-xs-12.col-sm-4.col-md-4
          %ul.false.g-green.goals
            %li
              %big #{key.camelize}
            %li.desc
              %ul
                - INFO['benefits'][key].each do |stmt|
                  %li #{stmt}
            - unless key == 'free'
              %li
                = link_to("Sponsor", omniauth_authorize_path(:user, :github, user: key.camelize), class: "btn btn-lg btn-success")
