%section.content-header
  %h4 CodeCuriosity Trend
%section.content
  .row
    .box-body.no-padding
      #chart-container
          
:javascript
  multiLineChart(#{@xAxis},#{@user_trend},#{@contribution_trend})
