.jumbotron
  .container
    %h1 
      %b>CODECURIOSITY
    /  
      %p
        Opensource livelihood  
    %a.btn.btn-outline.btn-lg{  href: omniauth_authorize_path(:user, :github) }
      %span.fa.fa-github
      Sign in with GitHub
