%section.content-header
  %h1 
    Leaderboard
%section.content
  .row
    .col-xs-12
      .box
        .box-body.table-responsive.no-padding
          %table.table.leaderboard
            %tbody
              %tr
                %th.col-xs-2 #
                %th User
                %th Commits
                %th Activities
                %th Points
              = render partial: 'user', collection: @users
