%section.content-header
  %h1 
    Judges
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive
          - if @judges.any?
            = render 'judges_table'
            .pagination-container
              = paginate @judges, params: { controller: 'admin/judges', action: 'index'}, remote: true
