%table.table.table-hover.table-bordered
  %thead
    %tr
      %th.col-xs-1 Name
      %th.col-xs-1 Organisation/Individual
      %th.col-xs-1 Actions
  %tbody
    = render partial: 'sponsors'

.pagination-container
  = paginate @sponsors, remote: true
