%table.table.table-bordered
  %thead
    %tr
      %th.col-xs-2 Name
      %th.col-xs-5 Description
      %th.col-xs-1 Actions
  %tbody     
    = render partial: 'repo_row', collection: @repos, as: :repo
