%h3= "Hello #{@group_invitation.user.try(:github_handle) || @email},"

%p
  You have been invited to join the group 
  = @group_invitation.group.name
  This is a great chance for you to contribute to open-source as well as earn points that you can redeem for gifts! So, don't wait. Please accept the invite and join your fellow contributors at Code Curiosity. It's free!
%p
  = link_to "Join Group", accept_invitation_url(@group_invitation.group, @group_invitation.token)
