- content_for :signature do 
  %div 
  %div Keep Sponsoring!
  %div - Team CodeCuriosity 
  %div  

%h4= "Hello, #{@user.name}"
%p
  Thank you for sponsoring to CodeCuriosity!! 
%p
  We have received your first payment.
%p 
  You have subscribed for the
  #{@plan} plan and will be charged 
  #{@amount}$/month.
