- content_for :signature do 
  %div 
  %div Keep Sponsoring!
  %div - Team CodeCuriosity 
  %div  

%h4= "Hello, #{@user.name}"
%p
  Unfortunately your most recent invoice payment was declined with the following message:
%p  
  #{@message}
%p
  Please update your payment information as soon as possible by logging in to our site.