%thead
  %tr
    %th.col-xs-2 User
    %th.col-xs-1 Gift Shop
    %th.col-xs-1 Store
    %th.col-xs-1 Points
    %th.col-xs-2 Date
    %th.col-xs-2 Coupon Code
    %th.col-xs-1 Address
    %th.col-xs-1 Status
    %th.col-xs-2 Actions
%tbody 
  = render @redeem_requests
