%section.content-header
  %h1 Goals
%section.content
  .row
    .col-xs-12
      .box.box-default
        .box-header
        .box-body
          = render @goals
    .col-xs-12
      .box.box-solid
        .box-body
          %h4
            %i.fa.fa-info-circle 
            = I18n.t('goal.goal_change_faq')
