.goals{
  text-align: center;
  border: 1px solid #f0f0f0;
  color: #777;
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 10px;
  //min-height: 472px;

  img {
    display: block;
    margin: auto;
    width: 32px;
  }

  .icon{
    font-size: 50px;
  }

  li:first-child,
  li:last-child {
    padding: 20px 13px;
  }

  li {
    list-style: none;
    padding: 13px;
  }

  li + li {
    border-top: 1px solid #f0f0f0;
  }

  big {
    font-size: 22px;
  }

  h3 {
    margin-bottom: 0;
    font-size: 24px;
  }

  span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
  }

  li:nth-last-child(2) {
    padding: 30px 13px;
  }

  .button {
    width: auto;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    padding: 9px 24px;
    background: #aaa;
    opacity: 1;
    transition: opacity .2s ease;
    border: none;
    outline: none;
    
    :hover {
      opacity: .9;
    }

    :active {
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .desc{
    font-size: 18px;
  }

  .points{
    font-size: 24px;
    font-weight: bold;
  }

  .redeem a{
    font-size: 18px;
  }

  @mixin goal-color($color) {
    .icon{
      color: $color;
    }
    big, h3 {
      color: $color;
    }
    .button {
      background: $color;
    }

    .points{
      color: $color;
    }

    .redeem a{
      color: $color;
    }

  }

  &.g-green { @include goal-color(#4c7737); } 
  &.g-yellow { @include goal-color(#ffbb42); } 
  &.g-red { @include goal-color(#e13c4c); } 
  &.g-blue { @include goal-color(#3f4bb8); } 

  &.selected{
    border: 2px solid goldenrod
  }
  
  a.info{
    text-decoration: underline;
    cursor: auto;
    color: #999;
  }
}

.next-month-goal{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 18px;
}
