// Place all the styles related to the redeem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#promote{
  @extend .badge;
  background-color: #00a65a;
  font-size: 14px;

  a {
    color: white;
  }

}

