html.turbolinks-progress-bar::before {
  background-color: #dd4b39 !important;
  height: 3px !important;
}

.logo-mini{
  .code{
     color: darkred;
  }
}

.home {
  .center-logo{
    font-size: 40px;
    text-align: center;
    padding: 10px 10px;
    width: 400px;
    font-weight: 800;
    display: block;
    margin: 200px auto;
    border: 2px solid #87CEFA;
    color: #555;
  }
}

.pagination-container {
  text-align: center;
}

.simple_form{
  .input-group{
    .input-group-addon {
      background-color: #eee;
    }
  }
}

.current-round{
  color: #00a65a;
}

.commits-tools{
  .pagination{
    margin: 0px;
  }
}

.judging-row{
  padding: 0px 10px 5px 10px;

  .info-links{
    a{
      margin-right: 10px;
      color: #2F4F4F;
      font-weight: 600;
    }
  }

  .time{
    font-weight: 600;
    color: #778899;
  }

  li.comments{
    margin-top: 10px;
  }

  .direct-chat-messages{
    height: auto;
    padding: 0px;
  }

  .input-group-addon{
    padding: 0px 12px;
    
    label{
      font-weight: normal;
      margin-bottom: 0px;
    }
  }

  .comment-type{
    margin-right: 10px;
    padding: 2px 4px;
    border-radius: .25em;
  }
}

.leaderboard{
  .rank{
    margin-right: 15px;
    font-weight: bold;
  }
}

.score-bar {
  list-style: none;
  width: 140px;
  margin: auto !important;
    
  li{
    float: left;
    position: relative;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    vertical-align: middle;
  }

  .zero{
    background: lightgrey;
  }

  .one, .two{
    background: orange;
  }

  .three{
    background: green;
  }

  .four{
    background: green;
  }

  .five{
    background: darkgreen;
  }
}

td.score.commit{
  text-align: center;
}

.callout-info{
  margin-top: 15px;
}

.scoring-color-info{
  margin-right: 20px !important;
  border-bottom: 1px solid #000;
  padding: 4px 8px;

  .score{
    padding: 0px 6px;
  }
}

.widget-preview{
  margin: 20px auto;
  width: 360px;
}

.goal-trend-btns{
  a {
    margin-right: 5px;
  }
}
