html.turbolinks-progress-bar::before {
  background-color: #dd4b39 !important;
  height: 3px !important;
}

.home {
  .center-logo{
    font-size: 40px;
    text-align: center;
    padding: 10px 10px;
    width: 400px;
    font-weight: 800;
    display: block;
    margin: 200px auto;
    border: 2px solid #87CEFA;
    color: #555;
  }
}

.pagination-container {
  text-align: center;
}

.simple_form{
  .input-group{
    .input-group-addon {
      background-color: #eee;
    }
  }
}

.current-round{
  color: #00a65a;
}
