.home {
  .center-logo{
    font-size: 40px;
    text-align: center;
    padding: 10px 10px;
    width: 400px;
    font-weight: 800;
    display: block;
    margin: 200px auto;
    border: 2px solid #87CEFA;
    color: #555;
  }
}
