
/*
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import "bootstrap-sprockets";
@import "bootstrap";

iframe.code-curiosity{
  border: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.box{
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.widget-cc-2 .widget-cc-header{
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.bg-yellow{
  background-color: #f39c12 !important;
}

.widget-cc-2 .widget-cc-image>img{
  width: 65px;
  height: auto;
  float: left;
}

.img-circle{
  border-radius: 50%;
}

.widget-cc-2 .widget-cc-title, .widget-cc-2 .widget-cc-desc{
  margin-left: 75px;
}

.widget-cc-2 .widget-cc-title{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;

  a{
    color: #000 !important;
  }
}

.widget-cc-2 .widget-cc-desc{
  margin-top: 0;
  
  a{
    color: #FFF !important;
  }
}

.no-padding{
  padding: 0 !important;
}

.box-footer:after{
  content: " ";
  display: table;
}

.box-footer{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  background-color: #fff
}

.box-footer:after{
  clear: both;
}

.box .nav-stacked>li{
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}

.nav-stacked>li{
  float: none;
}

.nav>li{
  position: relative;
  display: block;
}

.nav-stacked>li>a{
  border-radius: 0;
  border-top: 0;
  border-left: 3px solid transparent;
  color: #444;
}

.nav>li>a{
  position: relative;
  display: block;
  padding: 10px 15px;
}

.bg-blue{
  background-color: #0073b7 !important;
}

.bg-aqua{
  background-color: #00c0ef !important;
}

.bg-green{
  background-color: #00a65a !important;
}

.user-img > img{
  height: auto;
  float: left;
  width: 28px;
}

.username{
  margin-left: 12px;
}

.widget-rounds{
  text-align: center;
  padding: 5px;
  background-color: #EEE;
}

.box-widget .no-leaders{
  text-align: center;
}
