%section.content-header
  %h1= @org.name.titleize
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header
          .box-title
          .box-tools
            .no-margin.pull-right
              = link_to :back, class: 'btn btn-primary btn-social' do
                %i.fa.fa-arrow-left
                %b Back 
        .box-body
          = render 'form'
