%table.table.table-hover.table-bordered#activities
  %thead
    %tr
      %th.col-xs-1 Score
      %th.col-xs-1 Date
      %th.col-xs-1 Repo
      %th.col-xs-1 Type
      %th.col-xs-7 Message
      %th.col-xs-1 View
  %tbody
    = render partial: 'activity', collection: @activities
.pagination-container
  = paginate @activities, params: { controller: 'activities', action: 'activities'}, remote: true
