%table.table.table-bordered
  %thead
    %tr
      %th.col-xs-1 Score
      %th.col-xs-1 Date
      %th.col-xs-2 Repo
      %th.col-xs-7 Message
      %th.col-xs-1 View
  %tbody
    = render partial: 'commit', collection: @commits
.pagination-container
  = paginate @commits, params: { controller: 'activities', action: 'commits'}, remote: true
