$("#commits").html("#{j(render partial: 'judging/commit', collection: @commits )}")
$("#commits_pagination").html("#{j(paginate @commits, remote: true, window: 1, outer_window: 1) }")
showRatingControl();
