%li.treeview
  %a{href: "#"}
    %i.fa.fa-gears
    %span Admin
    %i.fa.fa-angle-left.pull-right
  %ul.treeview-menu
    %li
      %a{href: admin_repositories_path}
        %i.fa.fa-circle-o
        %span Repositories
    %li
      %a{href: admin_users_path}
        %i.fa.fa-circle-o
        %span Users
    %li
      %a{href: admin_judges_path}
        %i.fa.fa-circle-o
        %span Judges
    %li
      %a{href: admin_rounds_path}
        %i.fa.fa-circle-o
        %span Rounds
