:javascript
  if(#{flash[:notice].present?}){
    show_notification("<span class= 'fa fa-check-circle'></span> #{flash[:notice]}", 'success')
    close_noty_in(3000)
  }

  if(#{flash[:alert].present?}){
    show_notification("<span class= 'fa fa-exclamation-circle '></span> #{flash[:alert]}", 'error')
    close_noty_in(5000)
  }
