%footer.main-footer
  .pull-right.hidden-xs
    Theme Credit © 
    %a{href: 'http://almsaeedstudio.com', target: '_blank'}Almsaeed Studio
  %strong
    Copyright © #{Time.now.year}
    %a{:href => '#'} CodeCuriosity
  All rights reserved.
