.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to root_path, class: "navbar-brand" do 
        %font Code Curiosity
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to "Log out", destroy_user_session_path, method: :delete 
        - else
          %li= link_to "Login", new_user_session_path

        
