%header.main-header
  %a.logo{:href => '/'}
    %span.logo-mini
      %b> C
      Cu
    %span.logo-lg
      %b> Code
      Curiosity
  %nav.navbar.navbar-static-top{:role => 'navigation'}
    %a.sidebar-toggle{'data-toggle' => 'offcanvas', :href => '#', :role => 'button'}
      %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
            %img.user-image{:alt => current_user.name, :src => avatar_url}/
            %span.hidden-xs= current_user.name.titleize
          %ul.dropdown-menu
            %li.user-header
              %img.img-circle{:alt => current_user.name, :src => avatar_url}/
              %p
                = current_user.name.titleize 
                %small Github - #{current_user.github_handle}
            %li.user-body
              .row
                .col-xs-4.text-center
                  %a{:href => '#'} Subscription
                .col-xs-4.text-center
                  %a{:href => '#'} e-Wallet
                .col-xs-4.text-center
                  %a{:href => '#'} Rounds
            %li.user-footer
              .pull-left
                %a.btn.btn-default.btn-flat{:href => '#'} Profile
              .pull-right
                = link_to 'Sign out', destroy_user_session_path,  class: 'btn btn-default btn-flat'
        %li
          %a{href: '#'}
            %i.fa

