%li.treeview{class: is_active(params[:action], 'organizations')}
  %a{href: "#"}
    %i.fa.fa-university
    %span Organizations
    %i.fa.fa-angle-left.pull-right
  %ul.treeview-menu
    - current_user.organizations.each do |org|
      %li
        %a{href: organization_path(org) }
          %i.fa.fa-circle-o.text-aqua
          %span= org.name
