%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li{class: is_active('index', 'dashboard')}
        = link_to root_path do
          %i.fa.fa-dashboard
          %span Dashboard
      = render 'admin_sidebar' if current_user.is_admin?
