%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        %img.img-circle{:alt => current_user.name, :src => avatar_url}/
      .pull-left.info
        %p=current_user.name.titleize
        %a{href: github_url, target: '_blank'}
          %i.fa.fa-github
            = current_user.github_handle
    %ul.sidebar-menu
      %li{class: is_active('index', 'dashboard')}
        = link_to root_path do
          %i.fa.fa-dashboard
          %span Dashboard
      %li{class: is_active('index', 'repositories')}
        = link_to repositories_path do
          %i.fa.fa-cubes
          %span Repositories
      %li{class: is_active('index', 'activities')}
        = link_to activities_path do
          %i.fa.fa-tasks
          %span Activities
