%li.treeview
  %a{href: "#"}
    %i.fa.fa-gears
    %span Sponsor
    %i.fa.fa-angle-left.pull-right
  %ul.treeview-menu
    %li
      %a{href: "#"}
        %i.fa.fa-circle-o
        %span Profile
    %li
      %a{href: sponsorer_details_path }
        %i.fa.fa-circle-o
        %span Dashboard