.callout.callout-success
  %strong Thank you for signing up, 
  we will notify you once it available for beta.
  .pull-right.social-sharing
    = render 'twitter_sharing'
    .fb-share-button{data: {href: "http://codecuriosity.org", layout: "button_count"}}
