.modal-dialog
  .modal-content
    = simple_form_for(@user || User.new, url: organization_users_path(@org), remote: true) do |f|
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title Add admin user
      .modal-body
        = f.input :github_handle
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Cancel
        %button.btn.btn-primary{:type => 'submit'} Add
