%h1.faq-title Frequent Questions
%h4.faq-subtitle Simple answers to your most common questions 
.faqs.col-md-offset-2.col-md-8.col-sm-12.col-sm-offset-0
  = render partial: 'faq', collection: INFO['faq']
