!!!
%html{lang: 'en', id: 'cc-widget'}
  %head
    %title CodeCuriosity
    = stylesheet_link_tag 'widgets', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'widgets', 'data-turbolinks-track' => true
  %body
    .content
      = yield 
